[submodule "nvim"]
	path = config/nvim
	url = git@github.com:bhdai/nvim_config.git
	branch = main
[submodule "quickshell"]
	path = config/quickshell
	url = git@github.com:bhdai/quickshell_config.git
	branch = main
